<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ankur.pollutionandweathermonitor">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="@string/facebook_authorities"
            android:exported="true" />

        <activity
            android:name=".DisplayInformation"
            android:label="@string/title_activity_display_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pollution"
            android:label="@string/title_activity_pollution"
            android:parentActivityName=".DisplayInformation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HeatMap"
            android:label="@string/title_activity_heat_map"
            android:parentActivityName=".DisplayInformation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Weather"
            android:label="@string/title_activity_weather"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Test"
            android:label="Pollution"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".PollutionO3"
            android:label="@string/title_activity_pollution_o3"
            android:parentActivityName=".Test"
            android:theme="@style/AppTheme.NoActionBar"></activity>

    </application>

</manifest>
